/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated de faults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* COLORS =============================================
Dark Pink (Magenta): #b21e49;
Light Grey: #eeeeee;
Bright Pink: #ff1256;
Dark Grey: #222222;
Blue: #23a4cc;
============================================= */

/* ==========================================================================
   Author's custom styles*/

   body, html{
       font-family: 'Source Sans Pro', sans-serif;
       font-size: 16px;
       color: #222222;
       background-color: #eeeeee;
   }

   a {
       font-weight: 700;
       color: #23a4cc;
   }

   p{
       font-size: 1em;
       line-height: 1.4;
       font-weight:normal;

   }

   h1, h2, h3, h4{
       font-weight: 700;
   }

   h1{
       font-size:1.4em;
       line-height: 1.6;
   }

   h2{
       font-size: 1em;
   }

   .btn{
       background-color: #b21e49;
       color: #ffffff;
       font-weight: 700;
       text-transform: uppercase;
       line-height: 2.5;
       text-align: center;
       box-shadow: 2px 2px 0px #d19aaa;
       height: 2.5em;
       width: 100%;
       display: block;
       text-decoration: none;
   }
       .btn:hover{
           background-color: #ff1256;
       }

   input.btn{
       background-color: ##b21e49;
   }
       input.btn:hover{
           background-color: #ff1256;
       }

img{
  width:100%;
  height:auto;
}

nav i{
	padding-right:10px;
}
   ========================================================================== */

/****** Header *******/

.main-header {
  width:100%;
  margin:auto;
  padding: 0 3%;
}

#logo{
  width:100%;
  margin:0 auto;
  text-align: center;
}
nav {
  width:100%;
  background-color:#dddddd;
}

nav ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
}

nav ul li{
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

nav ul li a{
  color:#333333;
  text-transform:uppercase;
  text-decoration:none;
  font-size:1.3em;
}

nav ul li a:hover{
  color: #b21e49;

}

}
/***Main****/
main {
    width: 96%;
    padding: 0 2%;
    margin:auto;
    max-width: 960px;
}
/*******Top Stories******/
.top-story{
  width:100%;
  border-bottom: 1px solid #ccc;
}

.top-img{
  width:100%;
  margin:0;
}

.top-info{
  margin-left:3%;
}

/******* Sidebar******/
.sidebar{
  width:94%;
  margin:auto;
}

.newsletter {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.newsletter input{
  width:100%;
  box-sizing: border-box;
}

.newsletter input[type="text"]{
  margin-bottom: 10px;
  padding: 5px 0;
}

  .sidebar-upcoming,
  .sidebar-faq {
      display: none;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
  }
/*******Feed******/
.feed {
    width: 100%;
}
    .feed p{
            display: none;
    }

    .feed h2{
      width:94%;
      margin:auto;
      font-size:1.2em;
      margin-top:3%;
    }

.feed-item {
    clear: both;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

    .feed-type {
        text-transform: uppercase;
        font-size: 1em;
        margin:3% 0 0 3%;

    }

.feed-item h2{
    margin: 0;
}

.feed-item h2 a{
  color:#222;
  text-decoration:none;
}

.feed-item h2 a:hover{
    color: #23a4cc;
  }

    .feed-item:nth-child(7){
      border-bottom:none;
    }


.feed-img{
  width:45%;
  float:left;
  margin:1% 0 0 3%;
}

.feed-info{
  width:42%;
  float:right;
  margin:0;
  padding:0 2% 0 0;
  text-decoration:none;
}

/* DETAILED PAGES ================================ */
.reviews-img,
.news-img{
    width:100%;
    margin: 0;
}

.feed-item:nth-child(7){
  border-bottom:none;
}

.sidebar-more{
  display:block;
  width:94%;
  margin:auto;
  margin-bottom:5%;
  border-bottom: 1px solid #ccc;

}


.sidebar-
/* CONCERTS PAGE ======================== */
.buy-tickets{
  width:60%;
  margin:auto;
}

.buy-tickets .btn{
  line-height:0;
}

.concert-feed{
  margin-top:0px;
}

.concert-main aside{
  display: none;
}


.concert-item{
  padding-top:5%;
}

.concert-item h3{
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ddd;
  width: 3em;
  height: 3em;
  float: left;
  margin: 0 5% 0 3%;
  font-size: 1.3em;
  padding-top:3%;
  line-height: 1em;
  box-sizing:border-box;
}

.concert-feed h1{
  position:relative;
  top:0px;
  margin-bottom:3%;
  margin-left:3%;
}

.concert-item p{
  display:block;
  margin:0;
}

.concert-item:nth-child(7){
  border-bottom: 1px solid #ccc;
}

.concert-item:nth-child(10){
  padding-bottom:20%;
}


.concert-copy{
  margin-left:3%
}

#footer-concert{
  width:47.5%;
  margin:auto;
  margin-top:5%;
}

/*****FAQ*********/
.faq-item{
  border-bottom: 1px solid #ccc;
  margin-left:3%;
  margin-right:3%;
}

.faq-item:nth-child(5){
    padding-bottom:15%;

  }


.faq-item h3{
  font-weight:normal;
}

/******** ABOUT PAGE ********* */

    .mission{
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 15px 0;
        width:94%;
        margin:auto;
    }
    .team{
        padding-top: 15px;
        width: 94%;
        margin:auto;
    }
    .team-member{
        padding: 15px 0;
    }

    .team-img{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 40%;
        padding-bottom: 40%;
        float: left;
        margin-right: 20px;
        border: 1px solid #ccc;
    }

.map-container{
  position:relative;
  padding-bottom: 75%;
  height:0%;
  overlow: hidden;
}

.map-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

    .team-name{
      font-size:1.2em;
    }

    .team-description{
      display:none;
    }

    #team-img-jack{
        background: url('../img/team-jack.png');
    }

    #team-img-lana{
        background: url('../img/team-lana.png');
    }

    #team-img-willow{
        background: url('../img/team-willow.png');
    }

    #team-img-jack,
    #team-img-lana,
    #team-img-willow{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

/******Footer******/
footer{
  width:100%;
  margin: auto;
  clear:both;

}

#footer-logo{
  width:47.5%;
  margin:auto;
  margin-top:5%;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/******tablet*****/
@media (min-width:768px) {

/*Header==============*/
.main-header{
  width:94%;
  max-width:960px;
  margin:auto;
  background-color: #ddd;
  padding: 0 3%;
}

#logo{
  width:40%;
  float:left;
}

nav{
  width:60%;
  float:right;

}

nav ul{
  margin:0;
  height:90px;
}

nav ul li{
  display: inline;
  border:none;
  padding:0 1px;
  position:relative;
  top: 16px;
  right:10px;
  line-height:3;
}

nav ul li a{
  font-size: 1em;
  padding: 5px;
}
/* Featured News Item ======================*/

.top-story{
  width:100%;
  padding-bottom:5%;
}

.top-img{
  width:57%;
  float:left;
  margin-top:3%;
  border: 1.5px solid #000;
  padding-right:0px;

}

.top-info{
  width:35%;
  float:left;
  margin-left: 3%;
}

/* Sidebar=========*/
.sidebar{
  width:37%;
  float:right;
  clear:both;
}

.sidebar-upcoming,
.sidebar-faq{
  display:block;
  border-bottom: 1px solid #ccc;
}



/*News feed=======*/
.feed{
  width:60%;
  float:left;
  border-right: 1px solid #ccc;
}

.feed-img{
  width:35%;
}

.feed-info{
  width: 57%;
}

/*footer============*/
footer {
    width: 100%;
    clear:both;
}

#footer-logo{
    width: 30%;
    margin: auto;
}

/****FAQ*****/
.faq-header{
  clear:none;
  margin-top:4%;
  margin-left:3%;
}

.faq-item{
  margin-bottom:5%;
}

.faq-item:nth-child(5){
  border-bottom:none;
}

/*Detailed Pages=============*/
.detailed-content{
    padding-top: 30px;
    margin-left:3%;
    margin-right:3%;

}

.news-img, .reviews-img {
  width: 50%;
  margin:0;
  float: left;
  margin-right:3%;

}

.detail-title{
  width: 47%;
  float: left;
}

.detail{
  width:100%;
}

.detail .newsletter{
    border: none;
}

.detail .newsletter input{
    display: inline;
    width: 70%;
}

.detail .newsletter .btn{
    width: 25%;
}

.detail .newsletter input[type="text"] {
    padding: 7px 0;
    margin-right: 2%;
}

ul.article-meta-info{
list-style: none;
padding: 0;
width: 100%;
height: 2em;
}

ul.article-meta-info li{
    display: inline;
    margin-bottom: 10px;
}

.article-author{
    padding-right: 10px;
    border-right: 1px solid;
    margin-right: 10px;
}

aside.detail{
    width:100%;
    margin-left:3%;
}

.detail .newsletter h4{
    display:inline;
}

.detail .newsletter input{
        display: inline;
    }

/*******Concerts******/
.concert-feed{
  width: 100%;
  border-right: none;
}

.concert-item{
  width: 45%;
  float: left;
  margin-right: 2%;
}

.concert-feed .feed-item{
  clear: none;
}



/******About*****/


.map-container{
  position:relative;
  width:55%;
  border: 1px solid #333;
  float:right;
  margin-bottom:40px;
  margin-top:30px;
  height:0;
  padding-bottom:40%;
  overflow:hidden;
  margin-right:3%;
}

.mission{
  float:left;
  margin-left:3%;
}

.team{
  float:left;
  margin-left:3%;
}

.team-description{
  display:block;
}


.contact-info{
  width:40%;
  float:left;
}

.contact-info h1{
  margin-left:12%;
}

.strong{
  font-weight:bold;
}


/*******Footer******/


footer{
  width:100%;
  clear:both;
  display:block;
  border-top:solid 1px #ccc;
  padding-top:3%;

}

#footer-logo{

  margin:auto;

}

}




/******desktop*****/
@media (min-width:940px) {

h1{
    font-size:1.6em;
    line-height:1.8;
  }

  h2{
    font-size:1.4em;
  }
  /* Header =========================== */
.main-header{
  width:100%;
  max-width:none;
}
#logo{
  width:35%;
}

.nav{
  width:60%;

}

nav ul li{
  top:40%;
}

/*  Main Content =========================== */
    main{
        margin-top: 20px;
        margin-left:20px;
    }

    /* Featured News Item =========================== */

.top-story{
  width:65%;
  float:left;
  padding: 2.5%;
  padding-top: 10px;
  border-right: 1px solid #ccc;
  border-bottom:none;

}

.top-img{
  width:100%;
  padding-bottom:1%;

}

.top-img img{
  max width:620px;
}

.top-info{
  width:100%;
  float:none;
}

  /* Side Bar =========================== */
  .sidebar{
    width:26%;
    float:right;
    clear:none;
    margin-right:3%;
  }

.sidebar-faq {
  border:none;
}
      /* News/Reviews Feed Section =========================== */
  .feed{
    width:100%;
    float:none;
    clear:both;
    padding-top:20px;
    border-right:none;
    border-top: 1px solid #ccc;
  }

.feed-info{
  width:70%;
}

  .feed p{
      display: block;
      margin-top:0;
  }

  .feed h2{
  margin:0;
  }

  .feed-img{
    width:20%;
  }


      /* DETAILED PAGES ================================ */

  article.detailed-content{
    width:65%;
    float:left;
    padding-right:2%;
    padding-left:2%;
    border-right:1px solid #ccc;
  }


  .reviews-img,
  .news-img{
      width: 100%;
      float: none;
  }

  .detail-title{
      width: 100%;
      float: none;
  }

  .detail{
      width: 30%;
      float: left;
      padding:2%;
  }

      .detail .newsletter input{
          display: block;
          width: 100%;
      }

      .detail .newsletter .btn{
          width: 100%;
      }

      aside.detail .newsletter input[type="text"] {
          margin-right: 0;
      }

/**** Concert*****/

.concert-feed{
  width: 63%;
  float: left;
}

.concert-main aside{
  display: block;
  float: left;
  width: 20;
}

      /* Footer =========================== */
      footer{
          width: 100%;
      }

      #footer-logo{
          width: 20%;
      }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
